# Lock files
pnpm-lock.yaml
package-lock.json
yarn.lock

# Dependencies
node_modules
.venv

# Build outputs
dist
build
.next
.plasmo
*.min.js
*.min.css

# Logs
*.log

# OS files
.DS_Store

# IDE
.vscode
.idea

# Git
.git

# shadcn UI 官方组件
**/components/ui/**
.next
.specstory
